* {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none; /* For older Edge */
}
body, h1, h2, h3, h4, h5, h6, p, ul, li, fieldset, form, label, legend, table, caption, tr, th, td { vertical-align:top; margin: 0; padding: 0; border: 0; outline: 0; }
body {
    font-size: 2dvw;
    line-height: 4dvh;
    max-width: 100dvw;
    max-height: 100dvh;
    position: fixed; 
    box-sizing: border-box;
    font-family: "Bookman Old Style", sans-serif;
    background-color: black;
    color: #ebebeb;
    overflow: hidden;
}
.rotate-message{
    width: 50dvw;  /* Half the width of the viewport */
    height: 50dvw; /* Half the height of the viewport */
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(50%, 50%); /* Center it using offset */
    padding: 4dvw;
    border: 0.4dvw groove white;
    font-size: 4dvw;
    line-height: 6dvw;
    border-radius: 15%;
}
@media screen and (orientation: portrait) {

    .game-container {
        display: none; /* Hide the game in portrait mode */
    }

    .rotate-message {
        display: block; /* Show the rotate message */
    }
}

@media screen and (orientation: landscape) {
    .rotate-message {
        display: none; /* Hide the warning in landscape */
    }
    .game-container {
        display: block; 
    }
}

img {
    -webkit-user-drag: none;
}
div{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
span{
    display: inline-block;
}
ul{
    list-style: none;
    padding: 0;
}
button {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 2dvw;
  line-height: 4dvh;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  border-radius: 0.5dvw;
  background-color: black;
  color: white;
  white-space: nowrap;
  transition: transform 0.2s;
}                                           
button:active {
  transform: translate(4px, 4px);
    z-index:50;
}
button:not(:active){
  transition-duration: 0s; /* Instantly revert back */
}
                                                                                       /*------BigBox-----*/

#mainWrapper{
    border: 0.1dvw solid transparent;
    border-image:  url(../images/border6.png) 30% round;
    border-image-width: 30% 8%;
    padding-top: 2.9dvh;
    padding-left: 1dvw;
    padding-right: 1dvw;
    height: 75dvh;
}
.bigBox{
    display: none;
    width: 97dvw;
    height: 69dvh;
}

.descriptionBox {
    display: none;  
    position: absolute;
    top: 100%;
    left: 10%;
    background-color: #F0EFEC;
    padding: 0.1dvw;
    width: 16dvw;
    font-size: 4dvh;
    line-height: 4.4dvh;
    text-align: center;
    z-index: 50;
    white-space: normal;
    border: 0.1dvh groove black;
    border-radius: 8px;
}

.statDescriptions{
    top: 48%;
    left: 80%;
    width: 16dvw;
}
.actionDescriptions{
    left: 0;
}
.cultDescription{
    left: 1dvw;
}
.craftDescription{
    top: 100%;
    left: 0%;
    width: 28dvw;
}
.worldDescription{
    top: 100%;
    left: 10%;
}
.relicsDescription{
    left: -10%;
}
.madDescription {
    left: -1dvw;
}
.lockDesc{
    color: black;
    font-family: "Bookman Old Style", sans-serif;
    font-style: normal;
    font-weight: normal;
}
    .descriptionBox.show {
        display: block;
    }
    .desc{
        color: black;
        font-family: "Bookman Old Style", sans-serif;
        font-style: normal;
        font-weight: normal;
        min-width: 10dvw;
        clear: left;
    }
    .costs{
        color: black;
        font-family: "Bookman Old Style", sans-serif;
        font-style: normal;
        font-weight: normal;
        min-width: 3dvw;
    }
    .godsDescription{
    }
@keyframes pulse {
    0% {
            box-shadow: 0 0 0 0 #8258FA inset;
    }
    70% {
            box-shadow: 0 0 0 28px #210B61 inset;
    }
    100% {
            box-shadow: 0 0 0 0 #210B61 inset;
    }
}
@keyframes buttonPress {
    0% {
            box-shadow: 0 0 0 0 #8258FA inset;
    }
    70% {
            box-shadow: 0 0 0 12px #210B61 inset;
    }
    100% {
            box-shadow: 0 0 0 0 #210B61 inset;
    }
}
    @keyframes flash {
    0% { background-color: black; }
    50% { background-color: white; }
    100% { background-color: black; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

    #eventBox{
        position: absolute;
        left: 20dvw;
        top: 20dvh;
        z-index: 50;
        width: 60dvw;
        height: 60dvh;
        background-color: black;
        border: 0.3dvw solid white;
        border-radius: 15%;
        color: #ebebeb;
        display: block; 
    }
    #eventTitle{
        font-size: 8dvh;
        line-height: 12dvh;
        text-align: center;
        min-width: 33dvw;
        clear: left;
        text-decoration: underline;
    }
    #eventBoxText{
        text-indent: 20px;
        margin: 2dvw;
        font-size: 4dvh;
        line-height: 6dvh;
        clear: left;
        color: #ebebeb;
    }
    #closeEventButton{
          position: absolute;
          top: 0.8dvh; 
          right: 1.5dvw; 
          background-color: transparent;
          border: none;
          color: red;
          font-size: 6dvw;
          line-height: 6dvw;
          padding: 1dvw;
          font-weight: bold;
          cursor: pointer;
    }
    @keyframes yess {
  0% {
    border-color: #FFF44F; 
    background-color: #0F52BA;
    color: #FFF; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  25% {
    border-color: #FF6EC7; 
    background-color: #4B0082;
    color: #FFD700; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
  }
  50% {
    border-color: #00FFFF; 
    background-color: #32CD32; 
    color: #000; 
    font-family: 'Courier New', Courier, monospace; 
  }
  75% {
    border-color: #DA70D6; 
    background-color: #8A2BE2; 
    color: #FF4500; 
    font-family: 'Lucida Console', Monaco, monospace; 
  }
  100% {
    border-color: #FFD700; 
    background-color: #000; 
    color: #FFF; 
    font-family: Arial, Helvetica, sans-serif; 
  }
}

    .eventButtonsLeft{
        position: absolute;
        bottom: 4%;
        left: 12%;
        font-size: 4dvh;
        min-width: 10dvw;
        min-height: 5dvh;
        border: 0.1dvw groove white;
        font-weight: bold;
        }
    .eventButtonsRight{
        position: absolute;
        bottom: 4%;
        right: 12%;
        font-size: 4dvh;
        min-width: 10dvw;
        min-height: 5dvh;
        border: 0.1dvw groove white;
        font-weight: bold;
        }
    #yes{
        margin-left: 3dvw;
        float: left;
        clear: left;
        font-size: 12dvh;
        min-width: 20dvw;
        min-height: 16dvh;
        border: 0.5dvw groove white;
        font-weight: bold;
        animation: yess 2s infinite; /* Adjust animation duration as needed */
    }
    
    #no{
        float: right;
        margin-top: 5dvh;
        margin-right: 3dvw;
        font-size: 4dvh;
        min-width: 6dvw;
        min-height: 4dvh;
        border: 0.1dvw solid darkslategrey;
        
    }
   
#footer{
    position: fixed;
    bottom: 5dvh;
    right: 5dvw;
    width: 10dvw;
    text-align: left;
}
.disable-events {
  pointer-events: none;
}


