 
/* AltarRoom */
#altarRoom{
  background-size: 100% 100%;
  height: 69dvh; 
  width: 97dvw;
}
#altarRoomTitle{
    line-height: 5dvh;
    font-size: 4dvh;
    width: 28dvw;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    float: left;
}
#altarLeft{
    position: relative;
    width: 17dvw;
    float: left;
    clear: left;
}
/* altar*/
#altarDiv{
    background-color: black;
    width: 16dvw;
    margin: 0.5dvw;
    margin-bottom: 0;
    height: 12dvh;
    border: 0.1dvw groove white;
    border-radius: 10px 10px 0 0;
    position: relative;
}
#altarText{
    line-height: 4dvh;
    font-size: 4dvh;
    width: 16dvw;
    text-align: center;
}
#currentAltarDiv{
    width: 14dvw;
    font-size: 2.8dvh;
    line-height: 4dvh;
    height: 4dvh;
    border: 0.1dvw groove white;
    display: flex;
    position: absolute;  
    bottom: 0;           
    justify-content: center; 
    align-items: center;    
    text-align: center; 
    box-sizing: border-box;
}
#altarToggle{
    border: 0.1dvw solid white;
    position: absolute;
    right: 0;
    bottom: 0;           
    font-size: 2dvw;
    min-width: 2dvw;
    width: 2dvw;
    height: 4dvh;
    display: flex;           /* Enables flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    cursor: pointer;
    box-sizing: border-box;
        }
#altarOptions{
    display: none;
    width: 14dvw;
    background-color: black;
    margin-left: 0.5dvw;
    z-index: 10;
    border: 0.1dvw groove white;
    position: absolute; 
    top:  13dvh; 
    left: 0;
}
.altarOptionWraps{
    position: relative;
    background-color: grey;
    width: 14dvw;
    height: 4dvh;
    line-height: 4dvh;
    font-size: 2dvh;
    border: 0.1dvw groove white;
    display: none;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    text-align: center;      /* Ensures text is centered within the div */
}
#altarRoomInfo{
    margin-left: 0.5dvw;
    margin-top: 2dvh;
    padding: 0.5dvw;
    font-size: 1.6dvw;
    line-height: 4dvh;
    border: 0.1dvw groove white;
    width: 16dvw;
    height: 48dvh;
    background-color: black;
}


                    /* Style for the peg pool */
#pegPoolColumn{
    width: 12.6dvw;
    float: left;
}
#adjacencyInfoBox {
    border: 0.1dvh groove white;
    margin-top: 0.4dvh;
    padding-left: 0.4dvw;
    background-color: black;
    border-radius: 10px;
    width: 12.6dvw;
    height: 22dvh;
}
#devotion{
    margin-top: 0.5dvh;
    width: 8dvw;
    font-size: 1.4dvw;
    line-height: 2.8dvh;
    text-decoration: underline;
}
#clearGrid{
    background-color: lightblue;
    border: 0.1dvw groove white;
    margin-right: 0.4dvw;
    font-size: 1.4dvw;
    line-height: 2.4dvh;
    width: 3.6dvw;
    height: 2.8dvh;
    min-width: 16%;
    min-height: 16%;
    color: black;
    border-radius: 2px;
    float: right;
}
.bonusLines{
    float: left;
    min-width: 6dvw;
    font-size: 1.6dvw;
    line-height: 2.8dvh;
}
#pegPool{
    margin-top: 0.5dvw;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: flex-start; 
    float: right;
    width: 12.6dvw;
    font-size: 1.6dvh;
    line-height: 2dvh;
}
.pegPoolPeg {
  background-color: black;
  display: none;
  height: 2.8dvw;    
  width: 12.4dvw;
  border: 0.1dvh solid #ccc; 
  border-radius: 4px;  
  text-align: center;
}
#altarPeg{
  display: flex;
}
#faithfulPeg{
  display: flex;
}
#westPeg{
  display: flex;
}

.pegLetter{
    float: left;
    margin-left: 0.2dvw;
    height: 2dvw;    
    width: 2dvw;
    font-size: 2dvw;
    line-height: 2dvw;
    border: 0.08dvh solid #ccc; 
    border-radius: 4px;  
    text-align: center;
}
/* Style for the peg label */
.peg-label {
    float: left;
    width: 6dvw;
    font-size: 1.4dvw;
    line-height: 2dvw;
}
/* Style for the peg count */
.peg-count {
    float: right;
    font-size: 1.4dvw;
    line-height: 2dvw;
}


#gridFlex{
    display: flex;
    justify-content: left; 
    align-items: center; /* Centers vertically */
    height: 69dvh; /* Ensure the container spans the full viewport height */
}
#activeAltarGrid {
   border: 0.5dvh groove black;
   background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: repeat(4, 15dvh); /* Adjust number of columns */
  grid-template-rows: repeat(4, 15dvh); /* Adjust number of rows */
  width:66dvh;
}
.draggingClone{
    margin: 0.4dvw;
    height: 4dvw;    
    width: 4dvw;
    font-size: 4dvw;
    line-height: 4dvw;
    border: 0.1dvh solid #ccc; 
    border-radius: 5px;  
    text-align: center;
    position: absolute;
    z-index: 1000;
    opacity: 0.8;
}
.hole {
  border:  0.1dvh groove darkslategrey;
  width: 15dvh;
  height: 15dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  container-type: size;
}
.hole.blocked {
    background-color: darkslategrey;
    opacity: 1; /* Shows blocked holes as black */
    cursor: not-allowed;
}
.pegInHole{
    width: 100%;
  height: 100%;
    margin: 0.4dvw;
    font-size: 80cqmin;
    line-height: 80cqmin;
}

.peg {
  background-color: black;
  height: 80%;    
  width: 80%; 
   display: flex;  
  justify-content: center;
  align-items: center;
    border: 0.1dvh solid #ccc; 
    border-radius: 5px;  
    text-align: center;
}
